@CHARSET "UTF-8";

h1 {
	text-align: center;
	font-familly: "Arial-Black", Arial, Verdanna, serif;
	font-size: large;
}

description {
	margin-left: 30px;
	margin-bottom: 20px:
	font-familly: "Times new Roman", Arial, Verdanna, serif;
	display: block;
}

table {
	border-style: solid;
	width: 100%;
	border-collapse:collapse;
}

th {
	background-color : #0062FF;
	color: white;
}

td {
	border-style: solid;
}

input {
	margin-left: 50px;
}
nav {
  border: 1px solid gray;
  text-align: center;
  padding: 3px 0px;
  font-family: courier;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}